section#playlist-page
  h2 Playlists
  ul#playlists.tree
  .create-playlist
    button.new New Playlist
    form.edit-playlist
      .form-row
        input(type="text", placeholder="Name")
      .form-row
        ul.playlist-tracks
          li.form-row
            input(type="text", name="order", value="1", class="sm")
            strong Track Name
            span Artist
          li.form-row
            strong You need to add some songs.
      .form-row
        input(type="submit", value="Save")
        button Cancel
//section#search-page
  //h2 Search
  //form#search(action="/api/search")
    //.form-row
      //input(type="text",placeholder="&mdash;")

section#artists-page
