section#playlist-page
  h2 Playlists
  ul#playlists.tree
  .create-playlist
    button.new New Playlist
section#search-page
  h2 Search
  form#search(action="/api/search")
    .form-row
      input(type="text",placeholder="&mdash;",id="search-query")
    .form-row
      input(type="submit",value="Submit")
      button#clear Clear

  ul.tree#search-results

section#artists-page
