!!! 5
//if lt IE 7
  html.no-js.ie6
//if IE 7
  html.no-js.ie7
//if IE 8
  html.no-js.ie8
//if(gte IE 9)|!(IE)
  html.no-js
head
  title rdio playlists
  link(rel='stylesheet', href='/css/style.css')
  meta(charset='utf8')
  meta(name="viewport",content="width=768")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="black")
  script
    (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")
  
  script(src='/js/libs/modernizr-2.0.6.min.js')
body
  #container
    header(id='header')
      h1 You should login now.
    #main(role='main')!= body
    footer
  script(src='/js/libs/jquery-1.6.2.min.js')
  script(src='/js/src/libs.min.js')
